* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.Dashboard h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(130, 130, 128);
  border-radius: 6px;
  margin: 10px;
  color: white;
}
.Dashboard section {
  width: 100%;
  height: 70vh;
  display: flex;
  margin-top: 20px;
}
.left {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}
.right {
  width: 40%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.right button {
  height: 70px;
  width: 300px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 700;
  border: 0px;
  color: white;
}
.View {
  background-color: black;
}
.Create {
  background-color: green;
}
.Htask {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid darkblue;
  margin: 10px;
  margin-top: 20px;
}

/* Default */

.TaskCard {
  height: 200px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 5px 5px;
  align-items: center;
  border-radius: 15px;
  margin: 10px;
}
.TaskCard section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 50%;
  color: rgb(9, 0, 0);
}
.TaskCard button {
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 0px;
  background-color: blue;
  color: white;
  font-weight: 700;
  margin: 10px;
}
.High {
  border: 2px solid red;
}
.High button {
  background-color: red;
}

.Medium button {
  background-color: orange;
}
.Medium {
  border: 2px solid orange;
}

.Low {
  border: 1px solid green;
}
.Low button{
    border: 2p solid green;
}
