.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgb(34, 0, 255);
  padding: 3rem;
  border-radius: 10px;
}

.banner-content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.explore-btn {
  background-color: yellow;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  .banner-content {
    padding: 2rem;
  }
  
  .banner-content h1 {
    font-size: 2rem;
  }
  
  .explore-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
ion: column;
    align-items: center;
}