.App{
  text-align: center;
}
*{
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom:2px solid black ;
  background-color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
header div img{
  height: 100px;
}
.links{
  display: flex;
  gap: 30px;
}
.links a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.414);
  padding: 2px;
}
.links .active{
  color: rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 0, 0);
  border-radius: 3px;
}

